#room {
    background-color: #339900; /* Poker table green */
}

#poker-table {
    justify-content: center; /* Center the hand on the page */
    align-items: center;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-around; /* Distributes space between and around items */
    gap: .5em; /* Adds space between cards */
    max-width: 100%; /* Ensures the container is responsive */

    gap: 1.5em; /* Adds space between the cards */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if the screen is too narrow */
    justify-content: center;
}

#user-cards {
}

#selectable-cards {
}

.card {
  width: 4em;
  height: 6em;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.voting-disabled .card {

}

#selectable-cards .voting-enabled .card:hover {
  background-color: yellow;
  /* Deeper shadow on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-3px);
}

.corner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  line-height: 1;
}

.top-left {
  align-self: flex-start;
}

.bottom-right {
  align-self: flex-end;
  transform: rotate(180deg);
}

.face-up {
  background-color: white;
}

.face-down {
  --color-1: #fff; /* White */
  --color-2: #ccc; /* Gray */
  --size: 0.5em;     /* Size of each square */
  background-image: repeating-conic-gradient(
    var(--color-1) 0% 25%,
    var(--color-2) 25% 50%
  );
  background-size: calc(var(--size) * 2) calc(var(--size) * 2);
  width: 4em;
  height: 6em;
}

.card-wrapper {
    display: flex;
    flex-direction: column; /* Stacks card and label vertically */
    align-items: center; /* Centers the card and label horizontally */
    width: calc(10% - 10px); /* Adjusts width to fit 10 items in a row with gap */
    box-sizing: border-box; /* Ensures padding/border is included in width calculation */
    margin-bottom: 20px; /* Space between rows */
}

.card-grid-container {
    display: grid;
    /* Creates 10 equal-width columns */
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem; /* Uniform spacing between cards and rows */
    padding: 1rem;
}
